$uteRed: #cc0000;
// #CC0000;
$black: #000000;
$grey: #808080;



body{
  font-size: 20px;
  font-family: "opensans";
  height: 90%;
  width: 100vw;
  margin: 0px;
  background-color: white;
  #header{
 background: -moz-linear-gradient(top,  rgba(30,30,32,1) 0%, rgba(42,44,43,0.88) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,30,32,1)), color-stop(100%,rgba(42,44,43,0.88))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(30,30,32,1) 0%,rgba(42,44,43,0.88) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(30,30,32,1) 0%,rgba(42,44,43,0.88) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(30,30,32,1) 0%,rgba(42,44,43,0.88) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(30,30,32,1) 0%,rgba(42,44,43,0.88) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e20', endColorstr='#e02a2c2b',GradientType=0 ); /* IE6-9 */


    h3, h2, h5{
      line-height: 1em;
      padding: 0px;
      color: $uteRed;
      text-align: left;
    }
    h2{
      margin-top: 0em;
      margin-bottom: 0.1em;
      color: white;
      font-size: 3em;
    }
    h3{
      margin-top: 0.2em;
      margin-bottom: 0em;
      font-size: 2em;
    }
    h5{
      margin-top: 0px;
      font-size: 1.2em;
    }
    h4{
      vertical-align: baseline;
      color: #fff;
      margin: 0px;
    }
    h1{
      padding-top: 0px;
      display: inline;
      float: left;
      font-size: 100px;
      padding-right: 0.3em;
      margin: 0px;
      color: white;
    }
    img{
      padding:10px;
      float: left;
      vertical-align: baseline;
    }
  }
  #main-div{
    margin-top: 1em;
    max-height: 25%;
  }
  .tile_container{
    background-color: white;
  }
  #top_slider {
    margin-left:10px;
  }
  .comparison_container{
    img{
      // margin-top:50px;
      float: right;
      margin: 3px;
      height: 100px;
      width: 100px;
    }
    .intro_paragraph, .data_paragraph, .closing_paragraph{
      font-size: 1.0em;
      margin-bottom: 0.1em;
      text-align: left;
      padding: 0px;

    }
    .intro_paragraph, .closing_paragraph{
      color: $black;
      color: $grey;
          }
    .data_paragraph{
      font-size: 1.5em;
      margin: 0px;
      padding: 5px 0 0 0;
    }
    p{
      padding: 1em;
      text-align: center;      
    }
  }
  #graph_carousel {
   
  }
#vital_stats_container{
  text-align: right;
  
  h2,h3,h5{
    margin: 0.3em 0 0 0;
  }
  h5{
    margin-bottom: 2em;
  }
}


}


