body{
  font-size: 20px;
  height: 100vh;
  width: 99%;
  padding-right: 5px;
  // background-color: #ddd;
  // background-color: lightgrey;

  // header{
  //   height: 5%;
  //   width: 100%;
  //   // border: 4px dotted red;
  //   // background-color: lightblue;
  // }

  // .top{
  //   height: 25%;
  //   width: 100%;
  //   // border: 4px solid blue;
  //   // background-color: pink;

  //   .top-row{
  //     // border: 3px dotted green;
  //     height: 100%;
  //   }

  //   .top-left{
  //     height: 100%;
  //     width: 49.5%;
  //     // border: 2px dotted green;
  //     float: left;
  //   }

  //   .top-right{
  //     height: 100%;
  //     width: 49.5%;
  //     // border: 2px dotted green;
  //     float: right;
  //   }

  // }

  // .center{
  //   height: 25%;
  //   width: 100%;
  //   border: 4px solid red;

  //   .center-row{
  //     height: 100%;
  //     border: 2px dotted yellow;
  //   }

  //   .center-left{
  //     height: 100%;
  //     width: 49.5%;
  //     border: 2px dotted green;
  //     float: left;
  //   }

  //   .center-right{
  //     height: 100%;
  //     width: 49.5%;
  //     border: 2px dotted green;
  //     float: right;
  //   }

  // }

  // .bottom{
  //   // height: 30%;
  //   height: 40vh;
  //   width: 100%;
  //   // border: 4px soƒlid red;
  //   // background-color: yellow;

  //   .bottom-row{
  //     // border: 3px dotted green;
  //     height: 100%;
  //   }

  //   .bottom-left{
  //     height: 100%;
  //     width: 49.5%;
  //     // border: 2px dotted green;
  //     float: left;
  //   }

  //   .bottom-right{
  //     height: 100%;
  //     width: 49.5%;
  //     // border: 2px dotted green;
  //     float: right;
  //   }

  // }

  // footer{
  //   height: 10%;
  //   width: 100%;
  //   // border: 4px dotted blue;
  //   // background-color: cyan;
  // }

}

