$uteRed: #cc0000;
$black: #000000;
$grey: #808080;
// 1380x856


body{
  font-size: 16px;
  font-family: "opensans";
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-color: white;
  #header{
    height: 85px;
    background-color: black;
    .stats_tab{
      padding-bottom: 15px;
    }
    .stats_span{
      font-size: 1.5em;
      color: white;
    }
    h3{
      color: $uteRed;
      test-align: right;
    }
    .stats_unit{
      font-size: 0.8em;
      color: $uteRed;
      margin-top: 0px;
    }
    h1{
      padding-top: 0px;
      padding-right: 1em;
      display: inline;
      float: left;
      font-size: 50px;
      padding-right: 0.3em;
      margin: 0px;
      color: white;
    }
    img{
      padding:10px;
      float: left;
      vertical-align: baseline;
    }
  }
  #forecast_container {
    margin-right: 0px;
    float: right;
  }

  #main-div{
    margin-top: 5vh;
    height: 25vh;
  }
  .tile_container{
    background-color: white;
  }
  #top_slider {
    height: 100%;
  }
  .comparison_container{
    height: 100%;
    p {
      padding: 15px 1em 15px 15px;
      text-align: left;
    }
    img{
      margin-top:15px;
      height: 214px;
      width: 214px;
    }
    .data_paragraph{
      font-size: 1em;
      color: $uteRed;
    }
  }
#vital_stats_container{
  text-align: right;
  font-size: 1em;
  h2,h3,h5{
    margin: 0.3em 0 0 0;
  }
  h5{
    margin-bottom: 1em;
  }
}

  #graph_carousel{
    margin-top: 5vh;
    max-height: 60vh;
  }


}


